* {
    box-sizing: border-box;
}
body {
    background-color: #1d3557;
    color: #fadde1;
    font-size: 20px;
    margin-top: 40px;
}


/* pic*/

img {
    border-radius: 100%;
}


/* info */
#info p {
    text-align: center;
}

#info p:first-child {
    margin-top: 10px;
}

.btn {
    width: 40%;
    margin: 0 auto;
    border: 1px solid #fadde1;
}

.btn a {
    color: #ff5d8f;
    text-decoration: none;
}

.btn:hover {
    background-color: #ffc4d6;
    color: black;
    font-size: 22px;
    border: 1px solid #ff5d8f;
    
}

div #introduction h2 {
    color: #ff5d8f;
    font-size: 60px;
    text-align: center;
    border-bottom: 1px solid #ff5d8f;
    margin-bottom: 30px;
    
}

div #introduction p {
    color: #fadde1;
}

/* feature */
.features {
    margin-top: 20px;
}

.circle-item {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #f8edeb;
    margin: 5px auto;
}

.circle-item p {
    text-align: center;
    vertical-align: middle;
    color: #0d3b66;
    padding-top: 30px;
}

.circle-item i {
    font-size: 40px;

}

/* detail */
.container .row:nth-of-type(3) {
    margin-top: 50px;
}


h3 {
    font-size: 30px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    background-color: #fadde1;
    color: #0d3b66;
    border-radius: 8px;
    padding-left: 20px;
    text-transform: uppercase;
    vertical-align: middle;
}

time {
    font-style: italic;
    font-weight: bold;
    float: right;
}

div#content .container p {
    text-indent: 15px;
}





